ALLOW_CORS="http://localhost:3000"
AUTH0_DOMAIN=""
AUTH0_API_IDENTIFIER="http://gateway"
AUTH0_VENUE_API_IDENTIFIER="http://venue"
AUTH0_BOOKING_API_IDENTIFIER="http://booking"
AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""
VENUE_API_ROOT="localhost:8888"
BOOKING_API_ROOT="localhost:6969"