name: CI

on:
  push:
    branches:
      - master
      - 'add-ci'
    tags: [ v* ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build & Push Docker Images
        env:
          DOCKERHUB_OWNER: ${{ secrets.DOCKERHUB_USERNAME }}
        run: make